:root {
  --uk-flag-red: hsl(350, 85%, 42%);
  --uk-flag-blue: hsl(222, 98%, 21%);
  --uk-flag-white: hsl(0, 0%, 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

h1 {
  font-family: Roboto, sans-serif;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

@media (prefers-color-scheme: dark) {
  html {
    background: hsl(223, 93%, 5%);
    color: #ececec;
  }
}
